body {
    background-color: #ffffff;
}

.container {
    max-width: 50%; /* ocupa todo el ancho disponible */
    margin: 50px auto; /* centra el contenedor */
    text-align: center; /* centra el contenido horizontalmente */
  }

ul {
    padding: 0px;
}

ul li {
    border: 2px rgb(193, 193, 193) solid;
    list-style-type: none;  
    padding: 5px;
}

input {
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
}

.hoverParent:hover .hoverButton {
    visibility: visible;
}

.hoverButton {
    visibility: hidden;
}
